{% extends 'base.html' %}
{% block title %}
<title>Cart Summary</title>
{% endblock %}

{% block carousel %}{% endblock %}

{% block content %}
<div class="container mx-auto mt-10">
    <!-- Whole Cart Section with Gradient -->
    <div class="sm:flex shadow-md my-10 bg-gradient-to-br from-yellow-100 via-pink-50 to-white p-6 rounded-xl">
        
        <!-- Cart Items Section -->
        <div class="w-full sm:w-3/4 px-10 py-10">
            <div class="flex justify-between border-b pb-8">
                <h1 class="font-semibold text-2xl">Shopping Cart</h1>
                <h2 class="font-semibold text-2xl">{{ total }} Items</h2>
            </div>
            {% for i in items %}
            <div class="md:flex items-stretch py-8 md:py-10 lg:py-8 border-t border-gray-50">
                <div class="md:w-4/12 2xl:w-1/4 w-full">
                    <img src="{{ i.product_object.image.url }}" alt="{{ i.product_object.name }}"
                        class="h-full object-center object-cover md:block hidden" />
                </div>
                <div class="md:pl-3 md:w-8/12 2xl:w-3/4 flex flex-col justify-center">
                    
                    <div class="flex items-center justify-between w-full">
                        <p class="text-base font-black leading-none text-gray-800">{{ i.product_object.name }}</p>
                        <span class="py-2 px-1 border border-gray-200 mr-6">{{ i.quantity }}</span>
                    </div>

                    <p class="w-96 text-xs leading-3 text-gray-600">
                        Description: {{ i.product_object.description }}
                    </p>
                    <p class="w-96 text-xs leading-3 text-gray-600">
                        Price : ₹{{ i.product_object.price }}
                    </p>
                    <div class="flex items-center justify-between pt-5">
                        <div class="flex items-center space-x-6">
                            <form action="{% url 'add_to_wishlist' pk=i.id %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit"
                                    class="text-sm underline text-black hover:text-gray-700 bg-transparent border-none p-0 cursor-pointer">
                                    Add to wishlist
                                </button>
                            </form>
                            <a href="{% url 'cart_summary_remove' pk=i.id %}"
                                class="text-sm underline text-black hover:text-gray-700 cursor-pointer">
                                Remove
                            </a>
                        </div>
                        <p class="text-base font-black leading-none text-gray-800">₹ {{ i.item_total }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

            <a href="{% url 'index' %}" class="flex font-semibold text-indigo-600 text-sm mt-10">
                <svg class="fill-current mr-2 text-indigo-600 w-4" viewBox="0 0 448 512">
                    <path
                        d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z" />
                </svg>
                Continue Shopping
            </a>
        </div>

        <!-- Order Summary Section -->
        <div id="summary" class="w-full sm:w-1/4 md:w-1/2 px-8 py-10">
            <div class="p-6 rounded-xl shadow-inner border-2 border-black">
                <h1 class="font-semibold text-2xl border-b pb-8">Order Summary</h1>
                <div class="flex justify-between mt-10 mb-5">
                    <span class="font-semibold text-sm uppercase">Items {{ total }}</span>
                    <span class="font-semibold text-sm">₹ {{ total_sum }}</span>
                </div>
                <div>
                    <label class="font-medium inline-block mb-3 text-sm uppercase">
                        Shipping
                    </label>
                    <select class="block p-2 text-gray-600 w-full text-sm">
                        <option>Standard shipping - ₹ 10.00</option>
                    </select>
                </div>
                <div class="border-t mt-8">
                    <div class="flex font-semibold justify-between py-6 text-sm uppercase">
                        <span>Total cost</span>
                        <span>₹ {{ total_price }}</span>
                    </div>
                    <form action="{% url 'order' %}" method="get">
                        <button
                            class="bg-orange-800 font-semibold hover:bg-orange-800 py-3 text-sm text-white uppercase w-full">
                            Checkout
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}
