{% extends 'base.html' %}

{% block carousel %}
{% endblock %}

{% block content %}
<div class="container">
  <article class="flex bg-white transition hover:shadow-xl">
    <div class="hidden sm:block sm:basis-100">
      <img
        alt="{{ item.title }}"
        src="{{ item.product_image.url }}"
        class="aspect-square h-full w-full object-fill"
      />
    </div>

    <div class="flex flex-1 flex-col justify-between">
      <div class="border-s border-gray-900/10 p-4 sm:border-l-transparent sm:p-6">
        <h3 class="font-bold text-gray-900 uppercase text-xl">{{ item.title }}</h3>
        <p class="text-lg font-semibold text-gray-800 mt-2">${{ item.price }}</p>
        <p class="mt-4 text-sm text-gray-700">{{ item.description }}</p>
      </div>

      <form method="POST" action="{% url 'addtocart' item.id %}" class="p-6">
        {% csrf_token %}
        <div class="mb-4">
          <label for="size" class="block text-sm font-medium text-gray-700">Select Size</label>
          <select name="size_id" id="size" required class="mt-1 block w-full border rounded-md p-2">
            {% for size in item.size_object.all %}
              <option value="{{ size.id }}">{{ size.size_name }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="mb-4">
          <label for="quantity" class="block text-sm font-medium text-gray-700">Quantity</label>
          <input type="number" name="quantity" id="quantity" value="1" min="1" required class="mt-1 block w-full border rounded-md p-2" />
        </div>

        <div class="flex gap-4">
          <button type="submit" class="bg-yellow-300 px-5 py-3 text-xs font-bold text-gray-900 uppercase hover:bg-yellow-400">
            Add to Cart
          </button>
          
        </div>
      </form>
      <form action="{% url 'wishlist' item.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="bg-yellow-300 px-5 py-3 text-xs font-bold text-gray-900 uppercase hover:bg-yellow-400">
              Add to whishlist
            </button>
          </form>
    </div>
  </article>
</div>
{% endblock %}

{% block content2 %}
{% endblock %}